<h2>{{title}}</h2>
<!-- <ul>
  <li *ngFor="let course of courses">
     {{course}}
  </li>
</ul>
<img [src]="imageUrl"/>
<table>
  <tr>
    <td [attr.colspan]="colSpan">
      head
    </td>
  </tr>
</table>
 <input #email (keyup.enter)="onKeyUp(email)"/> 
<input [value]="email" (keyup.enter)="email = $event.target.value; onkeyup()"/> -->



<!-- pipes -->

<!-- {{course.title | uppercase}}<br/>
{{course.students | number}}<br/>
{{course.rating | number:'1.2-2'}} <br/>
{{course.price | currency: 'AUD': true}}<br/>
{{course.releaseDate}} -->

<!-- custom pipes -->
{{text | summary}}
